*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #1c242e;
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding-top: 100px;
}
#contenedor{
    display: flex;
    justify-content: center;
}

.grid{
    width: 80%;
    margin: 3em 3em 3em 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    color: yellow;
}

.valorant{
    width: 280px;
    height: 350px;
    background-color: #303d50;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 1em 1em 1em 1em;
}

.ival{
    height: 280px;
    background: url(../img/valorant.jpg) no-repeat center;
    background-size: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.tval{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.lol{
    width: 280px;
    height: 350px;
    background-color: #303d50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 1em 1em 1em 1em;
    border-radius: 5%;
}

.ilol{
    height: 280px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background: url(../img/lol.jpg) no-repeat center;
    background-size: cover;
}

.tlol{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.counter{
    width: 280px;
    height: 350px;
    background-color: #303d50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 1em 1em 1em 1em;
    border-radius: 5%;
}

.icsgo{
    height: 280px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background: url(../img/counter.jpg) no-repeat center;
    background-size: cover;
}

.tcs{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.fifa{
    width: 280px;
    height: 350px;
    background-color: #303d50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 1em 1em 1em 1em;
    border-radius: 5%;
}

.ififa{
    height: 280px;
    background: url(../img/fifa.jpg) no-repeat center;
    background-size: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.tfifa{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.fortnite{
    width: 280px;
    height: 350px;
    background-color: #303d50;;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 1em 1em 1em 1em;
    border-radius: 5%;
}

.ifortnite{
    height: 280px;
    background: url(../img/fortnite.jpg) no-repeat center;
    background-size: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.tfortnite{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.brawl{
    width: 280px;
    height: 350px;
    background-color: #303d50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 1em 1em 1em 1em;
    border-radius: 5%;
}

.ibrawl{
    height: 280px;
    background: url(../img/brawl.jpg) no-repeat center;
    background-size: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.tbrawl{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media screen and (max-width:1200px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:768px){
    .grid{
        grid-template-columns: 1fr;
        margin: 4em 0.5em 2em 0.5em;
    }
}