*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1c242e;
    min-height: 100vh;
}

.contacto{
    width: 60%;
    position: relative;
    top: 40px;
    padding: 1em;
    justify-content: center;
    align-items: center;
    display: grid;
    margin-bottom: 4em;
}

.titulo{
    text-align: center;
    font-size: 30px;
    color: yellow;
    margin-bottom: 30px;
}

.contenido{
    color: white;
    background-color: #303d50;
    box-shadow: 0 0 20px 0 rgba(0 , 0, 0, .5);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.contenido > *{
    padding: 2em;
}

.formulario form p{
    margin: 0;
    padding: 1em;
}

.formulario form button,
.formulario form input,
.formulario form textarea{
    width: 100%;
    padding: 1em;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: solid 1px yellow;
}

.formulario form button{
    background-color: rgb(209, 209, 4);
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.formulario form button:hover{
    background-color: yellow;
    transition: background-color 1s ease-out;
    cursor: pointer;
}

.info  {
    position: relative;
    background-color: black;
    padding-top: 3em;
}

.info h3,
.info ul,
.info p{
    margin: 0 0 1rem 0;
}

i{
    margin-right: 0.5em;
}

.info ul,
.info p{
    text-align: left;
    margin: 0 1rem 1rem 0.5rem;
}

.info h3{
    text-align: center;
    padding-top: 2.5em;
    color: yellow;
    
}

.info .texto{
    text-align: justify;
    font-size: 14px;
    margin: 0em;
}

.info .gods{
    padding-top: 5em;
    text-align: center;
}

.info ul{
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.info ul li{
    padding: .3em;
}


@media screen and (max-width:1400px){
    .contacto{
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    .formulario {
        padding: 1em;
    }

    .contacto{
        width: 100%;
    }

    .contenido{
        display: grid;
        grid-template-columns: 1fr;
    }

    .formulario form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .formulario form .block{
        grid-column: 1 / 3 ;
    }

    .info .gods{
        padding-top: 2em;
    }
    .info ul li{
        text-align: center;
    }
}
