*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: rgb(44, 44, 44);
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.preguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2em;

}

.primera,
.segunda,
.tercera,
.cuarta,
.quinta,
.sexta{
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 10px;
    margin: 2em;
    background-color: rgb(54, 54, 54);
    box-shadow: 0 0 20px 0 rgba(0 , 0, 0, .5);
}

.pregunta{
    display: flex;
    align-items: center;
    background-color: yellow;
    height: 40px;
    padding: 1em;
}

p{
    padding: 1em;
    color: white;
}



@media screen and (max-width: 768px){
    .primera,
    .segunda,
    .tercera,
    .cuarta,
    .quinta,
    .sexta{
    top: 40px;
    width: 100%;
    }

    .pregunta{
        height: 60px;
    }
}