*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #1c242e;
    color: white;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding-top: 100px;
}

header {
    position: fixed;
    background: black;
    width: 100%;
    top: 0%;
    z-index: 100;
}

.menu {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.menu .logo{
    display: inline-block;
    margin-right: 1em;
}

.menu .logo img {
    vertical-align: top;
    height: 100px;
    width: 100px;
    margin-left: auto;
}

.menu .botonmenu {
    display: none;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.menu .paginas {
    display: inline-block;
    text-align: right;
}

.menu .paginas a{
    color:white;
    margin: 1em;
    text-decoration: none;
    text-align: center;
}

.menu .paginas a:hover{
    color:yellow;
    transition: 0.5s;
    border-bottom: 2px solid yellow;
}

/* EFECTOS DEL MENU*/
.headroom {
    transition: transform .3s ease;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}
/* --- */

.banner{
    position: relative;
    width: 100%;
    top: 0px;
    height: 600px;
    background: url(../img/estadio.png) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:#F2E205;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.banner h2{
    font-size: 50px;
}

.pt{
    position: relative;
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.ptexto{
    position: relative;
    display: grid;
    width: 50%;
    text-align: justify;
    justify-self: center;
}

.ptexto p{
    font-size: 20px;
}

.logo img{
    position: relative;
    display: flex;
    width: 400px;
    height: 400px;
}

.redes{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
    color: #F2E205;
}

.rc{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1em;
    text-align: center;
    justify-content: center;
    padding: 1em;
}

.iconos{
    margin-top: 2em;
    margin-bottom: 1em;
}

.redes .rc .iconos a{
    font-size: 30px;
    margin: 1em;
    color: white;
}

.redes .rc .iconos a:hover{
    color: #F2E205;
    transition: 0.3s;
}

.redes .rc p{
    display: flex;
    height: auto;
    font-size: 40px;
    flex-direction: column;
}
/* PATROCINADORES */
.sponsors{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2E205;
    box-shadow: 0px 0  30px 0px rgba(0 , 0, 0, .9);
    padding: 1em;
    font-family: 'Oswald', sans-serif;
}

.stext{
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin: 0.5em 0em 0em 0em;
    color: #1c242e;
    font-weight: bold;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    justify-items: center;
    padding: 1em;
}

.nike{
    width: 200px;
    height: 200px;
    background: url(../img/nike_opt.png) no-repeat center;
    background-size: 100%;
}

.intel{
    width: 200px;
    height: 200px;
    background: url(../img/intel_opt.png) no-repeat center;
    background-size: 100%;
}

.asus{
    width: 200px;
    height: 200px;
    background: url(../img/asus_opt.png) no-repeat center;
    background-size: 100%;
}

.instant{
    width: 200px;
    height: 200px;
    background: url(../img/instant.png) no-repeat center;
    background-size: 100%;
}

.aerocool{
    width: 200px;
    height: 200px;
    background: url(../img/aerocool.png) no-repeat center;
    background-size: 100%;
}

.msi{
    width: 200px;
    height: 200px;
    background: url(../img/msi.png) no-repeat center;
    background-size: 60%;
}
/*---*/
footer{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
    justify-content: center;
    align-self: flex-end;
}

.footer{
    display: flex;
    max-width: 1200px;
    height: auto;
    background-color: black;
    color: white;
    align-items: center;
    margin: 1em;
}
.footer a{
    color: white;
    text-decoration: none;
}

.ftext{
    margin:0em 1em 0em 1em;
}

.footer a:hover{
    color: yellow;
}

/* COOKIES */

#barraaceptacion {
    display:flex;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align:center;
    min-height:40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    z-index:99999;
}
 
.inner {
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    padding: 1em;
}
 
.inner a.ok {
    padding:4px;
    color:#00ff2e;
    text-decoration:none;
}
 
.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color:#faff00;
}


/* media queries*/
@media screen and (max-width: 1200px){
    .logo img{
        width: 300px;
        height: 300px;
    }
    .ptexto{
        width: 80%;
    }
    #barraaceptacion {
        height: 40px;
    }

    .content{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    header .menu {
        flex-direction: column;
    }
    
    header .menu .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 1em;
    }
    
    header .menu .botonmenu{
        display: inline-block;
        color: yellow;
        text-decoration: none;
        font-size: 1em;
    }
    
    header .menu .paginas {
        width: 100%;
        display: flex;
        flex-direction:  column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .menu .paginas a:hover{
        border-bottom:0px;
        transition: 0s;
    }

    #barraaceptacion {
        height: 80px;
    }

    .banner{
        top: 0px;
        width: 100%;
        height: 40vh;
        background-size: cover;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
    }

    .banner h2{
        font-size: 40px;
    }

    .pt{
        grid-template-columns: 100%;
    }
    
    .pt .ptexto p{
        font-size: 16px;
    }

    .logo img{
        margin-left: auto;
        margin-right: auto;
    }

    .redes .rc p{
        font-size: 30px;
    }

    .redes .rc .iconos a{
        font-size: 30px;
        margin: 0.5em;
    }

    .stext{
        margin-bottom: 0em;
    }

    .content{
        grid-template-columns: 1fr;
    }

    .redes{
        padding: 0em;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

}